<!DOCTYPE html>
<html lang="en">
<head>
    <title>Happy Hours</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <!-- Custom CSS and js -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="css/service.css">
    <script src="js/home.js"></script>
    <script src="js/gallery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<!-- Navbar -->
<div class="w3-top" id="home">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#gallery" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Gallery</a>
    <a href="#service" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Service</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#gallery" class="w3-bar-item w3-button w3-padding-large">Gallery</a>
    <a href="#service" class="w3-bar-item w3-button w3-padding-large">Service</a>
<!--    <a href="#" class="w3-bar-item w3-button w3-padding-large">Login</a>-->
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px" id="header">
  <h1 class="w3-margin w3-jumbo logo"><span style="color:orange;">HAPPY</span> HOURS</h1>
  <p class="w3-xlarge">The Future Is Ours</p>
  <button class="w3-button w3-hover-red w3-padding-large w3-margin-top register-btn"><a href="register">Register</a></button>
</header>

<!--Service-->
<div class="main"id="service">
    <h1>Our Services</h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="images/2.jpg"></div>
          <div class="card_content">
            <h1 class="card_title">Grade R</h1>
            <p class="card_text">We need a sammary about this</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="images/2.jpg"></div>
          <div class="card_content">
            <h1 class="card_title">After School Care</h1>
            <p class="card_text">We need a sammary about this</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="images/2.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Casual day and holiday care </h2>
            <p class="card_text">We need a sammary about this</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

<!-- Gallary -->
<div class="container p-3" id="gallery">
    <h3>Our Gallery</h3>
  <div class="fg-gallery">
      <img src="images/1.jpeg" alt="">
      <!-- <img src="images/2.jpeg" alt=""> -->
      <img src="images/3.jpeg" alt="">
      <img src="images/4.jpeg" alt="">
      <img src="images/5.jpeg" alt="">
      <img src="images/6.jpeg" alt="">
      <img src="images/7.jpeg" alt="">
      <!-- <img src="images/8.jpeg" alt="">
      <img src="images/1.jpeg" alt="">
      <img src="images/2.jpeg" alt="">
      <img src="images/3.jpeg" alt="">
      <img src="images/4.jpeg" alt="">
      <img src="images/5.jpeg" alt="">
      <img src="images/6.jpeg" alt="">
      <img src="images/7.jpeg" alt="">
      <img src="images/8.jpeg" alt="">
      <img src="images/1.jpeg" alt="">
      <img src="images/2.jpeg" alt="">
      <img src="images/3.jpeg" alt="">
      <img src="images/4.jpeg" alt="">
      <img src="images/5.jpeg" alt="">
      <img src="images/6.jpeg" alt=""> -->
      <img src="images/7.jpeg" alt="">
      <img src="images/8.jpeg" alt=""> 
  </div>

  <!-- <div class="fg-gallery ns">
      <img src="images/1.jpeg" alt="">
      <img src="images/2.jpeg" alt="">
      <img src="images/3.jpeg" alt="">
      <img src="images/4.jpeg" alt="">
      <img src="images/5.jpeg" alt="">
      <img src="images/6.jpeg" alt="">
  </div> -->

</div>



<script>
  var a = new FgGallery('.fg-gallery', {
      cols: 4,
      style: {
          border: '10px solid #fff',
          height: '180px',
          borderRadius: '5px',
          boxShadow: '0 2px 10px -5px #858585',
      }
  })

  var a = new FgGallery('.ns', {
      cols: 3,
      style: {
          border: '0 solid #fff',
          height: '240px',
          borderRadius: '5px',
      }
  })
</script>

<!--Brack footer and Contant-->
<div class="brk">
</div>
<!-- footer -->
<footer class="-bg-footer" id="footer">
        <div class="container-fluid">
            <div class="row footer-align">
                <div class="col-md-4 col-sm-4">
                    <h5>Happy Hours</h5>
                    <hr class="hr-foot">
                    <div class="footer-items">
                        <p class="footer">
                            Happy Hours is small indie game studio based in Croatia. Founded in 2020, on a mission to make beautiful, fun and popular mobile games. 
                        </p>
                        <ul class="social-networks">
                            <a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.pinterest.com/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                                                                                                         <a href="https://twitter.com/" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h5>Our contact</h5>
                    <hr class="hr-foot">
                    <div class="footer-items">
                        <address>
                                10 000 Zagreb, Zagreb
                                <br>
                                Zagreb, Zagreb
                                <br>
                                Croatia
                                <br>
                                <i class="fa fa-phone address"></i> www.happyhours.com
                                <br>
                                <i class="fa fa-fax address"></i> www.happyhours.com
                                <br>
                                <i class="fa fa-envelope address"></i> <a href="http://www.happyhours.com" target="_blank">www.happyhours.com</a>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h5>Open hours</h5>
                    <hr class="hr-foot">
                    <div class="footer-items">
                        <ul>
                            <li>Mon-Fri: 08:00-16:00</li>
                            <li>Sat    : Closed</li>
                            <li>Sun    : Closed</li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
       <!-- <a class="to-top" href="#" title="toTop">
            <i class="fa fa-chevron-up"></i> 
        </a> -->
    </footer>

    <div class="footer-copyright">
            <p>&copy 2020 Copyright <a href="http://www.happyhours.com" target="blank"> HappyHours</a></p>
    </div>

</body>
<html>