<head>
    <title>HAPPY HOURS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/css/main.css" rel="stylesheet" />
</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo">HappyHours</a>
            <nav id="nav">
                <a href="index1.html">Home</a>
                <a href="generic1.html">Generic</a>
                <a href="elements1.html">Elements</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner">
        <h1>Welcome to HAPPY HOURS</h1>
        <p>The Happiest Hours of the Day are with us.</p>
    </section>

    <!-- One -->
    <section id="one" class="wrapper">
        <div class="inner">
            <div class="flex flex-3">
                <article>
                    <header>
                        <h3>ACTIVITY1<br /> activity1</h3>
                    </header>
                    <p>We do it when we do it.</p>
                    <footer>
                        <a href="#" class="button special">More</a>
                    </footer>
                </article>
                <article>
                    <header>
                        <h3>We do it when we do it.1<br /> We do it when we do it.2</h3>
                    </header>
                    <p>We do it when we do it.3</p>
                    <footer>
                        <a href="#" class="button special">More</a>
                    </footer>
                </article>
                <article>
                    <header>
                        <h3>We do it when we do it.4<br /> </h3>
                    </header>
                    <p>We do it when we do it.5</p>
                    <footer>
                        <a href="#" class="button special">More</a>
                    </footer>
                </article>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style1 special">
        <div class="inner">
            <header>
                <h2>We do it when we do it.6</h2>
                <p>We do it when we do it.7</p>
            </header>
            <div class="flex flex-4">
                <div class="box person">
                    <div class="image round">
                        <img src="/images/img1.jpeg" alt="Person 1" />
                    </div>
                    <h3>Magna</h3>
                    <p>We do it when we do it.8</p>
                </div>
                <div class="box person">
                    <div class="image round">
                        <img src="images/pic04.jpeg" alt="Person 2" />
                    </div>
                    <h3>xxxx</h3>
                    <p>zzzzzzz</p>
                </div>
                <div class="box person">
                    <div class="image round">
                        <img src="images/pic05.jpeg" alt="Person 3" />
                    </div>
                    <h3>vvvvv</h3>
                    <p>ccccc</p>
                </div>
                <div class="box person">
                    <div class="image round">
                        <img src="images/pic06.jpeg" alt="Person 4" />
                    </div>
                    <h3>ddddddd</h3>
                    <p>We do it when we do it.10</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper special">
        <div class="inner">
            <header class="align-center">
                <h2>ready ready</h2>
                <p>We do it when we do it. 14</p>
            </header>
            <div class="flex flex-2">
                <article>
                    <div class="image fit">
                        <img src="images/pic01.jpeg" alt="Pic 01" />
                    </div>
                    <header>
                        <h3>We do it when we do it. 12</h3>
                    </header>
                    <p>We do it when we do it. We do it when we do it. We do it when we do it. We do it when we do it. We do it when we do it. </p>
                    <footer>
                        <a href="#" class="button special">More</a>
                    </footer>
                </article>
                <article>
                    <div class="image fit">
                        <img src="images/pic02.jpeg" alt="Pic 02" />
                    </div>
                    <header>
                        <h3>We do it when we do it.11</h3>
                    </header>
                    <p>We do it when we do it. We do it when we do it. We do it when we do it. We do it when we do it. We do it when we do it.</p>
                    <footer>
                        <a href="#" class="button special">More</a>
                    </footer>
                </article>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                    &copy; Lucid. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
                </div>
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    <li><a href="#" class="icon fa-vimeo"><span class="label">video</span></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
